.title{
    font-size: 5rem;
}

.hero-button button{
    font-size: 2rem;
    gap: 25px;
}

.aside-container,
.aside-text {
    width: 30%;
    height:910px;
}
.texto h2,
.aside-text-container h4 {
    font-size: 2.5rem;
}
.download button {
    padding: 20px 40px;
    font-size: 2rem;
}
.aside-text-container p {
    font-size: 2.1rem;
}

.botons-directions-txt button{
    font-size: 2.3rem;
}