*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: violet;

}
.hero-section{
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;  
    flex-direction: column;
    margin-bottom: -10px;
    background-color: violet;
}
.title{
    font-size: 1.9rem;
    top: 15%;
    position: relative;
    font-family: 'old_stamper';
    color:  #dd15c2;
    text-shadow: black 2px 2px 2px;
    letter-spacing: 5px;
}
.hero-button{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px; 
    list-style: none;
    position: relative;
    top: 35%;  
}
.hero-button button{
    font-size: 16px;
    border: none;
    margin-bottom: 40px;  
    background-color: transparent;    
    color: white;     
    font-weight: bolder;
    text-shadow: black 0.5px 0px 0px; 
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
 /* S e c t i o n  I m a g e n */
.aside-container{
    flex: 1;
    top: 0;
    right: 0;
    background-color: rgb(197, 85, 165);
    width: 100%;
    position: absolute;
    z-index: 999;
       
}
.aside-container ul li,
.aside-container label,
.sidebar ul  label,
.aside-text-container,
.aside-text-container ul li{
    list-style: none;
    color: white;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    margin: 2px auto;
}
.sidebar-fondo{
    display: flex;
    justify-content: space-between;
}
.title-img,
.aside-text-container h4{   
    color: white;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 0;
    margin-bottom: 20px;
    width: 100%;
    font-size: 18px;
    text-align: center;
}
.first-list li{
    margin-top: 20px;

}

.aside-text-container{
    flex: 1;
    top: 0;
    right: 0;
    background-color: rgb(197, 85, 165);
    width: 45%;
    position: absolute;
    z-index: 999;
    height: 129vh;
       
}
#aside-image,
#aside-text {
    display: none;
}
.range{
    width: 90%;
    margin: 2px auto;
    text-align: center;
    position: relative;
    left: 5%;
}
 /* S e c t i o n  P r i n c i p a l */
/* Cuadraro */
.square-section{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: violet;
    width: 100%;
    height: 100vh;
    flex-direction: column;
}
.square {
    width: 70%;
    height: 90vh;
    background-color: #FF00FF;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;    
}
.texto h2{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;    color: #644B9A;
    font-size: 1.2rem;
    color: white;
    text-align: center;
    text-transform: uppercase;
    margin: 20px auto;
}
.cuadrado {
    width: 80%; 
    height: 50%; 
    background-color: #FFC0CB;
}
.download button {
    color: white;
    background-color: #b2116c;
    border: none;
    padding: 10px 20px;
}
.footer-section {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: violet;
    height: 10vh;
    width: 100%;
}