*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.hero-section{
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;  
    flex-direction: column;
    margin-bottom: -10px;
    background-color: violet;
}
.title{
    font-size: 1.3rem;
    top: 15%;
    position: relative;
    font-family: 'Sendcat';
    color:  #dd15c2;
    text-shadow: black 2px 2px 2px;
    letter-spacing: 5px;
}
.hero-button{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px; 
    list-style: none;
    position: relative;
    top: 15%;
}
.hero-button button{
    border: none;
    margin-bottom: 40px;  
    background-color: transparent;    
    color: white;     
    font-weight: bolder;
    text-shadow: black 0.5px 0px 0px; 
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
 /* S e c t i o n  I m a g e n */
.aside-container{
    flex: 1;
    top: 0;
    right: 0;
    background-color: #1b4332;
    width: 45%;
    position: absolute;
    z-index: 999;
    ;    
}
.aside-container ul li,
.aside-container label,
.sidebar ul  label{
    list-style: none;
    color: white;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
}
.title-img{
    font-size: 1rem;
    color: white;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    left: 27%;
}
.aside-text-container{
    background-color: yellow;
}
#aside-image,
#aside-text {
    display: none;
}
 /* S e c t i o n  P r i n c i p a l */
/* Cuadraro */
.square-section{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f7f7f7;
    width: 100%;
    height: 100vh;
    flex-direction: column;
}